/* Css Page */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.hiddenbody{
    display: none;
}

.espace{
    height: 50px;
    width: 100%;
}
.div_buttons{
    width: 50%;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
}
.div_services{
    gap: 10px;
    position: relative;
    z-index: 999;

}

#liste_amis{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 999;

}

.ami,.etranger{
    flex-grow: 1;
    max-width: 130px;
    max-height: 100px;
    padding: 0.5em; float: left; background-color: #ccffcc;
}
.efface_ami{
    flex-grow: 1;
    max-width: 50px;
    max-height: 100px;
    padding: 0.5em; float: left; background-color: #ccffcc;
}
#liste_etranger{
    top:0px;
    right:0px;
    position:absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* Css Form */


label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }


/* Css Map */

#map {
    height:100vh;
    width: 100%;
    position: absolute;
}

.formBlock {
    max-width: 300px;
    background-color: #FFF;
    border: 1px solid #ddd;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 5px;
    width: 100%;
}

.leaflet-top .leaflet-control {
    margin-top: 180px;
}

.input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
    border-radius: 3px;
}

#formmap {
    padding: 0;
    margin: 0;
}
#formmap input:nth-child(1) {
    margin-bottom: 10px;
}


